.contenedor-avanzado {
    height: 120px;
    width: 250px;
    border: 1px solid black;
    margin-right: 0;
}

.contenedor-avanzado-texto {
    font-size: 12px;
    font-weight: bold;
    margin-left: 7px;
    margin-bottom: 1px;
}